/* Header styles */
.sticky-header {
    position: -webkit-sticky; /* Pour les anciens navigateurs Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Couleur de fond du header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optionnel : ajout d'une ombre pour un effet visuel */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body.dark-mode .sticky-header {
    background-color: #333; /* Darker background for header */
    color: #d1dbe0; /* Soft white text for header */
    font-family: 'Courier New', Courier, monospace; /* Change font for dark mode */
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-left .logo-container,
.header-right .logo-container {
    display: flex;
    align-items: center;
}

.header-left .header-logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header-left .logo-help,
.header-right .logo-help,
.header-right .switch-help {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.header-left .logo-help::after,
.header-right .logo-help::after,
.header-right .switch-help::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.header-left .logo-container:hover .logo-help,
.header-right .logo-container:hover .logo-help,
.header-right .switch:hover .switch-help {
    visibility: visible;
    opacity: 1;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.header-right .github-logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* Toggle switch styles */
.header-right .switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    margin-left: 20px; /* Adds space on left side of switch */
}

.header-right .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header-right .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.header-right .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Other styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

body.dark-mode {
    background-color: #1e2a38; /* Dark blue background */
    color: #d1dbe0; /* Soft white text */
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body.dark-mode .container {
    border-color: #444;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
}

.help-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.help-icon .help-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.help-icon .help-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.help-icon:hover .help-text {
    visibility: visible;
    opacity: 1;
}

.form-section {
    display: flex;
    justify-content: space-between;
}

.form-section > div {
    flex: 0 0 48%;
}

.loyer-container {
    display: flex;
    align-items: center;
}

.loyer-container input {
    flex: 1;
    margin-right: 10px;
}

.loyer-container button {
    width: auto;
    padding: 10px;
}

#myChart {
    width: 100%;
    height: auto;
    min-height: 200px;
    min-width: 600px;
    margin: 0 auto; /* Centre le graphique */
}

/* Styles pour petits écrans */
@media (min-width: 600px) {
    #myChart {
        min-width: 100%;
    }
}

/* Dark mode styles for inputs and buttons */
body.dark-mode input, body.dark-mode button {
    background-color: #2a3b4d; /* Darker blue */
    color: #d1dbe0; /* Soft white text */
    border: 1px solid #444;
}

/* Dark mode styles for help text */
body.dark-mode .help-icon .help-text {
    background-color: #333;
    border-color: #333;
}