/* Color variables */
:root {
    --light-bg-color: #d1dbe0;
    --light-text-color: #000000;
    --dark-bg-color: #1e2a38;
    --dark-text-color: #d1dbe0;
    --primary-color: #2196F3;
    --secondary-color: #555;
    --welcome-message-light-bg-color: #aac3cf;
    --welcome-message-dark-bg-color: #314050;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    overflow-x: hidden;
    width: calc(100% - 10px);
    margin: 5px;
}

body.dark-mode {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

/* Header styles */
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px #0c1116b4; /* Optionnel : ajout d'une ombre pour un effet visuel */
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body.dark-mode .sticky-header {
    background-color: var(--dark-bg-color); /* Darker background for header */
    color: var(--dark-text-color); /* Soft white text for header */
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-left {
    flex: 1;
}

.header-right {
    flex: 1;
    justify-content: flex-end;
}

.header-left .logo-container,
.header-right .logo-container {
    display: flex;
    align-items: center;
}

.header-left .header-logo {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

/* Help logo and switch styles */
.header-left .logo-help,
.header-right .logo-help,
.header-right .switch-help {
    visibility: hidden;
    max-width: 200px;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.header-left .logo-help::after,
.header-right .logo-help::after,
.header-right .switch-help::after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}

.header-left .logo-container:hover .logo-help,
.header-right .logo-container:hover .logo-help,
.header-right .switch:hover .switch-help {
    visibility: visible;
    opacity: 1;
}

header h1 {
    flex-grow: 0.5;
    text-align: center;
    margin: 0;
    font-size: 3vw;
}

.header-right .github-logo {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
    display: flex;
}

/* Toggle switch styles */
.header-right .switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
    margin-left: 10px; /* Adds space on left side of switch */
}

.header-right .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.header-right .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.header-right .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.container {
    width: calc(100% - 10px);
    margin: auto;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body.dark-mode .container {
    border-color: var(--dark-bg-color);
}

input, button {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
}

.help-icon {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

/* Help text styles */
.help-text {
    visibility: hidden;
    width: 200px;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Prevent the tooltip from intercepting mouse events */
}

/* Help text arrow styles */
.help-text::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Position the arrow at the bottom */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}

body.dark-mode .help-text {
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.help-icon:hover .help-text {
    visibility: visible;
    opacity: 1;
}

/* Form section styles */
.form-section {
    display: flex;
    justify-content: space-between;
}

.form-section > div {
    flex: 0 0 48%;
}

.loyer-container {
    display: flex;
    align-items: center;
}

.loyer-container input {
    flex: 1;
    margin-right: 10px;
}

.loyer-container button {
    width: auto;
    padding: 10px;
}

#myChart-container {
    width: 100%; /* Assure que le conteneur parent prend toute la largeur */
    height: auto;
    padding: 10px;
}

#myChart {
    width: 100%;
    min-height: 250px;
    height: auto;
    margin: 0 auto; /* Centre le graphique */
}

/* Styles pour petits écrans */
@media (min-width: 200px) {
    #myChart {
        min-width: 100%;
    }
}

body.dark-mode input, body.dark-mode button {
    background-color: #2a3b4d; /* Darker blue */
    color: var(--dark-text-color); /* Soft white text */
    border: 1px solid #444;
}

.welcome-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--welcome-message-light-bg-color);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px #0000001a;
    z-index: 1000;
}

body.dark-mode .welcome-message {
    background-color: var(--welcome-message-dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}

.welcome-message p {
    margin: 0 0 20px;
}

.welcome-message button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.welcome-message button:hover {
    background-color: #0056b3;
}

#language-select {
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

body.dark-mode #language-select {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
    border-color: var(--dark-bg-color);
}
